{{#each this}}
  <li class='feature-section__list-item'>
    <button class='feature-section__list-card' type='button' data-id={{id}}>
      <img src={{image}} alt={{name}} class='feature-section__list-card-img' />
      <h3 class='feature-section__list-card-title'>{{name}}</h3>
    </button>
    <div class='feature-section__list-item-mobile-overlay'>
      <a
        class='feature-section__mobile-btn link'
        href='product-page.html?id={{id}}'
      >
        <span class='feature-section__mobile-btn-txt'>Product page</span></a>
    </div>
  </li>
{{/each}}