<img src={{image}} alt={{name}} class='feature-section__main-card-img' />
<h3 class='feature-section__main-card-title'>{{name}}</h3>
<span class='feature-section__main-card-price'>${{price}}</span>
<button type='button' class='feature-section__main-card-btn' data-id={{id}}>
  <span class='feature-section__main-card-btn-txt'>Add to Cart</span></button>
<a href='' type='button' class='feature-section__main-card-btn' data-id={{id}}>
  <span class='feature-section__main-card-btn-txt'>Product page</span></a>