{{#each this}}
  <li class='feature-section__list-item'>
    <button class='feature-section__list-card' type='button' data-id={{id}}>
      <img src={{image}} alt={{name}} class='feature-section__list-card-img' />
      <h3 class='feature-section__list-card-title'>{{name}}</h3>
    </button>
    <div class='feature-section__list-item-mobile-overlay'>
      <button type='button' class='feature-section__mobile-btn' data-id={{id}}>
        <span class='feature-section__mobile-btn-txt'>Product page</span></button>
    </div>
  </li>
{{/each}}