{{#each this}}
  <li class='popular__item'>
    <div class='popular__card'>
      <img src={{image}} alt={{name}} class='popular__img' />
      <h3 class='popular__title'>{{name}}</h3>
      <span class='price'>${{price}}</span>
      <div class='popular__buttons'>
        <button
          type='button'
          class='arrival__btn-cart popular-btn'
          data-id={{id}}
        ></button>
        <a
          href='product-page.html?id={{id}}'
          type='button'
          class='arrival__btn-product popular-btn'
          data-id={{id}}
        ></a>
      </div>
    </div>

  </li>
{{/each}}